.logo {
  font-family: 'icomoon';
  font-size: 3rem;
}

.current {
  opacity: 1 !important;
  display: block !important;
}

.inactive {
  opacity: .1 !important;
  display: block !important;
  img {
    display: none !important;
  }
}

section {
  display: none !important;
}

.button:hover {
  opacity: .8;
}
